<div class="favContainer">
  <div>

  </div>
  <div class="basketSmallContainer">
    <h3 class="favTitle">Корзина</h3>
    <div class="basketTable">
      <table>
        {{#each findBasket }}
        <tr class='js-basItem'>
          {{!-- <td>Номер</td> --}}
          <td><img class="small" src='image/Socks/{{this.basket_link}}'></td>

          <td id=4{{this.id}} class='js-count'>{{this.basket_size}}</td>
          {{!-- <td>Цена</td> --}}
          <td><button class='deletFromBasket1' id=3{{this.id}}>Убрать из корзины</button></td>
        </tr>
        {{/each}}

      </table>
      <div>
        <h4 class='js-total' id="total">Итого:{{reduc}} пар(а)</h4>
      </div>
      <div class="favBtnContainer">
        <div class="">
          {{!-- <img class="btnOrder" src="/image/кнопкаОформитьзаказ.png" alt=""> --}}
        </div>
        <div class="">
          {{!-- <img class="btnReg" src="/image/кнопкаЗарегистрироваться.png" alt=""> --}}
        </div>

      </div>

    </div>

    <div class="basketOrderBottom">
      <div>
        <button class="btnCreateOrder"> Оформить заказ </button>
      </div>
    </div>

  </div>


</div>
