<div class="favContainer">
  <div>
    <h3 class="favTitle">Корзина</h3>
  </div>
  <div class="favSmallContainer">
    <div class="favTable">
      <table>
        {{#each findBasket }}
        <tr class='js-basItem'>
          {{!-- <td>Номер</td> --}}
          <td><img class="small" src='image/Socks/{{this.basket_link}}'></td>
         
          <td id=4{{this.id}} class='js-count'>{{this.basket_size}}</td>
          {{!-- <td>Цена</td> --}}
          <td><button class='deletFromBasket1' id=3{{this.id}} >Убрать из корзины</button></td>
        </tr>
        {{/each}}
        
      </table>
      <div>
        <h4 class='js-total' id="total">Итого:{{reduc}} пар</h4>
      </div>
      <div class="favBtnContainer">
        <div class="">
          {{!-- <img class="btnOrder" src="/image/кнопкаОформитьзаказ.png" alt=""> --}}
        </div>
        <div class="">
          {{!-- <img class="btnReg" src="/image/кнопкаЗарегистрироваться.png" alt=""> --}}
        </div>
      
      </div>

    </div>
    <div>
      <p>*доступно только для зарегистрированных пользователей</p>
    </div>

  </div>

  
</div>
